/* Font-declar */
@font-face {
    font-family: 'avenirnext-bold';
    font-display: auto;
    src: url('/assets/fonts/avenirnext-bold.ttf');
}

@font-face {
    font-family: "FontAwesome";
    font-display: auto;
    src: url("/assets/fonts/fontawesome-webfont.ttf") format("truetype"),
        url("/assets/fonts/fontawesome-webfont.woff") format("woff"),
        url("/assets/fonts/fontawesome-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    color: #000;
    height: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    overflow-x: hidden;
    max-width: 100%;
}
.logo {
    height: 40px;
}
.sva-header .navbar {
    width: 100%;float: left;
}
.sva-header .navbar .navbar-nav .nav-item {
   position: relative;
   margin-right: 10px;
}
.sva-header .navbar .navbar-nav .nav-item:last-child {
    margin-right: 0px;
 }
.sva-header .navbar .navbar-nav .nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #2AB7F6;
    bottom: -14px;
    opacity: 0;

 }
 .sva-header .navbar .navbar-nav .nav-item.active::before {
     opacity: 1;
 }
.sva-header .navbar .navbar-nav .nav-item .nav-link {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
 }
 .sva-header .navbar .navbar-nav .nav-item.active .nav-link {
    color: #2AB7F6;
    
}
/* gobal-color */
.text-blue {
    color: #2AB7F6;
}

.text-white {
    color: #fff;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    text-transform: uppercase;
}

.breadcrumb a,
.breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "|";
}

.breadcrumb-item {
    font-size: 12px;
}

.breadcrumb a:hover {
    color: #fff;
    text-decoration: none;
}

/* about-us */
.hero-banner-about {
    background: rgba(1, 149, 248, 1);
    background: -moz-linear-gradient(left, rgba(1, 149, 248, 1) 0%, rgba(21, 82, 187, 1) 23%, rgba(42, 7, 119, 1) 37%, rgba(45, 2, 115, 1) 63%, rgba(35, 39, 165, 1) 83%, rgba(25, 81, 222, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1, 149, 248, 1)), color-stop(23%, rgba(21, 82, 187, 1)), color-stop(37%, rgba(42, 7, 119, 1)), color-stop(63%, rgba(45, 2, 115, 1)), color-stop(83%, rgba(35, 39, 165, 1)), color-stop(100%, rgba(25, 81, 222, 1)));
    background: -webkit-linear-gradient(left, rgba(1, 149, 248, 1) 0%, rgba(21, 82, 187, 1) 23%, rgba(42, 7, 119, 1) 37%, rgba(45, 2, 115, 1) 63%, rgba(35, 39, 165, 1) 83%, rgba(25, 81, 222, 1) 100%);
    background: -o-linear-gradient(left, rgba(1, 149, 248, 1) 0%, rgba(21, 82, 187, 1) 23%, rgba(42, 7, 119, 1) 37%, rgba(45, 2, 115, 1) 63%, rgba(35, 39, 165, 1) 83%, rgba(25, 81, 222, 1) 100%);
    background: -ms-linear-gradient(left, rgba(1, 149, 248, 1) 0%, rgba(21, 82, 187, 1) 23%, rgba(42, 7, 119, 1) 37%, rgba(45, 2, 115, 1) 63%, rgba(35, 39, 165, 1) 83%, rgba(25, 81, 222, 1) 100%);
    background: linear-gradient(to right, rgba(1, 149, 248, 1) 0%, rgba(21, 82, 187, 1) 23%, rgba(42, 7, 119, 1) 37%, rgba(45, 2, 115, 1) 63%, rgba(35, 39, 165, 1) 83%, rgba(25, 81, 222, 1) 100%);
}

.hero-banner-about {
    padding: 3% 0 2%;
}

.hero-banner-about h1 {
    font-size: 30px;
}

.hero-banner-about h4 {
    width: 600px;
    font-size: 34px;
    font-weight: bolder;
    padding-top: 8%;
}

.hero-banner-about small {
    font-size: 14px;
}

.about-us h2:after {
    border-bottom: 2px solid #2AB7F6;
    display: block;
    width: 100px;
    content: "";
    margin-top: 10px;
    border-radius: 5px;
}